html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #190a27;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    background: #190a27;
}

.text-center {
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.text-center2 {
    font-size: 30px;
    text-align: center;
}

.btn-home {
    border: none;
    font-size: 30px;
    background: none;
    color: white;
}

.btn-solid {
    border: none;
    font-size: 30px;
    background: none;
    color: rgb(19, 204, 142);
}

.btn-s {
    border: none;
    font-size: 17px;
    background: none;
    color: rgb(19, 204, 142);
}

.btn-border {
    border: none;
    background: none;
}


.btn-solid:focus {
    margin-right: 50%;
    border: none;
    outline: none;
}

.parent {
    padding: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: rgb(187, 135, 37);
}

.title2 {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
}

.title3 {
    font-size: 35px;
    margin-left: 25%;
    margin-bottom: 10%;
    color: rgb(187, 135, 37);
}

.titlep {
    font-size: 25px;
    text-align: center;
    color: rgb(187, 135, 37);
}

.description {
    padding: 0;
    text-align: center;
    color: white;
}

.description2 {
    font-size: 20px;
    padding-top: 2%;
    color: rgb(4, 112, 53);
    background: none;
    border: none;
}

.description3 {
    font-size: 20px;
    color: rgb(214, 209, 209);
}

.description4 {
    padding: 0;
    font-size: 20px;
    color: rgb(19, 204, 142);
    background: none;
    border: none;
}

.img {
    margin-left: 43%;
    margin-top: 5%;
    width: 100px;
    height: 125px;
}

.imgass {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    max-width: 100%;
    max-height: 100%;
    width: 820px;
    height: auto;
    object-fit: contain;
}

.title4 {
    margin-top: 35%;
    text-align: center;
    color: white;
}



@media screen and (min-width: 350px) and (max-width: 2000px) {
    .container {
        background-color: #190a27;
        padding-top: 3%;
    }
    
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .text-center {
        font-size: 30px;
        padding: 4px;
        text-align: center;
    }

    .img {
        margin-left: 30%;
        margin-top: 5;
        width: 100px;
        height: 125px;
    }

    .imgass {
        max-width: 400px;
        width: 1080px;
        height: auto;
        position: relative;
        margin-left: 66%;
        margin-top: 120px;
    }

    .title3 {
        font-size: 35px;
        margin-left: 10%;
        margin-bottom: 10%;
        color: rgb(187, 135, 37);
    }

    .title4 {
        margin-top: -90px;
        text-align: center;
        color: white;
    }

    .btn-s {
        text-align: center;
        margin-left: 35%;
        border: none;
        font-size: 17px;
        background: none;
        color: rgb(19, 204, 142);
    }
}